// $secondary: rgba(129, 128, 128, 0.2);

@import "../node_modules//bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.border-right {
  border-right: 1.4px solid #f0efef; /* Change the color and size as needed */
}

.cloud-color {
  //   color: #9ebfc8;
  color: #aee2f0;
}

.cursor-pointer {
  cursor: pointer;
}

.active {
  color: #fff;
}

.search-icon {
  left: 11px;
  top: 7px;
  pointer-events: none;
  color: #3c3c3c;
}

.search-input {
  border: none;
  // outline: none;
}

.background-img {
  background: url("https://img.freepik.com/free-photo/sunshine-clouds-sky-morning-background-blue-white-pastel-heaven-soft-focus-lens-flare-sunlight-abstract-blurred-cyan-gradient-peaceful-nature-open-view-out-windows-beautiful-summer-spring_1253-1092.jpg?t=st=1715420876~exp=1715424476~hmac=7b491062db0410f78ca650e5eebf74d40bc92634dc9def996878dffaecb27166&w=900");
  background-size: cover;
}

.temp-background {
  background-color: rgba(228, 226, 226, 0.3);
}

.weekF-background {
  background-color: rgba(228, 226, 226, 0.1);
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

//********** EDIT Default bootstrap styles ****************
.list-group {
  .list-group-item {
    border: none;
  }

  .list-group-item.active {
    border-radius: 100px;
  }

  .list-group-item.active div {
    color: #fff;
  }
}

.form-control {
  padding-left: 32px;
}

p {
  margin: 0;
}
